.App{
    text-align: center;
}

Nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color:  #4d4d4d;
    color: white;
    list-style: none;
}

.NavLinks{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}